<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p><a href="/users/sign-up">Sign up</a></p>
    <p><a href="/users/login">Login</a></p>
  </body>
</html>
