<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form>
      <div>
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          required
          placeholder="Email"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <label for="password">Confirm Password</label>
        <input type="password" name="password" id="password" required />
      </div>

      <div>
        <label for="first_name">FIrst Name</label>
        <input type="text" name="first_name" id="first_name" required />
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" required />
      </div>
      <input type="submit" name="submit" id="submit" />
    </form>
  </body>
</html>
